/* Defining Varibles */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Roboto:wght@400;500;700&family=Young+Serif&display=swap');
* {
    box-sizing: content-box;
}
:root {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding:0;

}

nav {
    flex: 0;
}

.nav-intro {
    flex:1;
    margin: 0;
}

.nav-ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 25px;
}

.nav-ul-li a {
    text-decoration: none;
    font-size: .9em;
    color: rgb(133, 128, 128);
}

.nav-section {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content:right;
    padding: 0.9em;
}

.section-img {
    display: block;
    width: 60vh;
    height: 60vh;
    border-radius: 50%;
    box-shadow: 10px 10px 10px 100px black inset ;
}

.intro {
    display: flex;
    height: 100vh;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    padding: 1rem 10rem;
}

.intro > section, .intro > div {
    flex: 1;
}

.description {
    font-size: 7vh;
}

.description-hi {
    font-size: 0.8em;
}

.description-name {
    font-weight: 600;
    font-size: 1.4em;  
}

.description-developer {
    font-size: 0.8em;
}

.div-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.description-btn > .btn {
    font-size: 1.2rem;
    border: none;
    outline: none;
    padding: 1.2rem 1.6rem;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.description-btn {
    margin-top: 13px;
}

.description-btn > .description-btn-cv {
    background-color: rgb(227, 227, 227);
    color:black;
}

.fa-linkdin {
    font-size: 3vh;
}

#home {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

/* Main  Section */

main {
    padding: 1rem 10rem;
}

main > section >header {
    color: rgb(33, 31, 32);
    display: flex;
    justify-content: center;
}

.main-container {
        padding: 2em 2rem;
        /* transition: 0.3s; */
        border-radius: 12px; /* 5px rounded corners */
        line-height: 2.5rem;
        text-align: justify;
}

.main-container h2 {
    font-weight: 300;
    position: relative;
    padding-bottom: 10px;
}
.main-container h2::after{
    position: absolute;
    content: '';
    margin-top: 6px;
    width: 40%;
    height: 6px;
    background-color: white;
    bottom: 0;
    left: 0;
    border-radius: 999999px;
}
.section-invert {
    background-color: black;
    color: white;

}

.section-invert h2 {
   color: white;
   
}


section > li {
    list-style: none;
    display: flex;
    flex-direction: row;
}



.fa-brands {
    font-size: 3rem;
    display: block;
}

.project-brands {
    display: flex;
    gap: 1rem;
    justify-content: left;
    gap: 1.3rem;
}

.projects-title {
    font-weight: 450;
    text-align: left;
    
}

.projects-para {
    /* text-align: left; */
    min-width: px;
}
#main-container {
    margin-left: 0;    
}

.skill-brands {
    display: flex;
    align-items: center;
    gap: .5em;
    padding: .5em;
    /* flex-basis: 120px; */
    border-radius: 8px;
    background-color: black ;
    
    
}

.skill-brands p {
    margin: 0;
    font-size: .6em;
    color: white;
}

.skill-brands  i{
    font-size: 1.2em;
}
.section-skills  {
    display: flex;
    gap: .8rem;
    flex-wrap: wrap;
    row-gap: .1em;
    justify-content: center;    
}








